.post-it {
    background:#5247eb; 
    padding:15px; 
    font-family: 'Arial', sans-serif; 
    font-size:16px; 
    color: rgba(250, 250, 250, 0.8); 
    width:200px; 
    margin-bottom: 15px;
    border-radius: 4px;
    
    /* -moz-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    -o-transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    transform: rotate(7deg);
     */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
    
    }